/*#A
{
	padding-top: 5px;
	width: 100%;
	float: left;
	margin-right:0px;
}
#B
{
	float: left;
	width: 250px;
	position: relative;
	left: -250px;
}
#C
{
	float: right;
	margin-right: -250px;
	width: 250px;
	position: relative;
}
#all {
	border-right: 250px solid #97DAF1;
	height: 1%;
	position: relative;
}*/
/*#all2r {
	border-left: 250px solid #97DAF1;
	height: 1%;
	position: relative;
}
#all2r:after {
	content: '';
	clear: both;
	display: table;
}*/
li.spanrow{
	width:95%!important;
	padding:1%!important;
	
}
.double li
{
	width:46%;
	padding:1%;
}
.triple li
{
	width:30%;
	padding:1%;
}
li.anriss
{
margin-left:1%;
margin-bottom:1%;
border:10px;
	background:#F6f4eC;
}
.large
{
	font-size:150%;
	top:20px;
}
li.anriss a.anriss
{
	width:100%;
	height:100%;
}
li.anriss a.anriss:hover
{
	background: #527AB4;
}
.abstract
{
	background:#F6E4CC;
padding:5px;
	min-height:10em;
	height:10em;
	overflow:hidden;
}
li.anriss:hover
{
	background:#527AB4;
}
div.accordion{
/*	background:#F6f4eC;
*/	display:block;
	float:none;
	margin-right:1%;
	margin-bottom:1%;
	border:5px solid #F6f4eC;
        margin-left: 3%;
        width: 83%;
}
div.accordion a:link{
	padding-left: 1%;
	padding-right: 1%;
	padding-top:5px;
	padding-bottom:5px;
	display:block;
        margin-left: 3%;
        width: 83%;
}
/*.link {
    min-height: 200px; min-width: 200px;
    border: 1px solid red;
}
*/
.linkdescription {
    display: none;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:0px;
}
.link:focus
{
	outline: 0;
	background: #97DAF1;
}
h3.head
{
	height:2.5em;
}

.taglink{
	color:blue
}
.taglink:visited{
	color:darkblue
}
